@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #abdaf2;
  font-family: 'Times New Roman', serif;
  color: #5a4a42;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.book-list {
  display: grid;
  margin-top: 75px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.items-center {
  align-items: center;
}

.book-card {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card h2,
.book-card p {
  font-family: 'Playfair Display', serif;
}

.book-card img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ef9978;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  margin-left: 8px;
  padding: 20px;
}

.li a,
.a-li {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


.a-logo {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}

.li a:hover {
  text-decoration: underline;
}

.imgLogo {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 0;
  }

  .book-list {
    grid-template-columns: 1fr;
    margin-top: 110px;
  }

  .ul {
    justify-content: center;
    padding-right: 0;
  }

  .book-card img {
    max-height: 400px;
    max-width: 400px;
  }
}

.hover\:underline:hover {
  text-decoration-line: underline;
}